#education-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#education-title {
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}

#education-desc {
    font-weight: 500;
    margin: 8px 0px;
}

#education-date {
    font-size: 12px;
}

.education-para {
    font-weight: 100;
    margin: 5px 0px;
}