@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

.App {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 8fr 3fr;
}

#social-links {
    height: 10%;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navig-container {
    position: relative;
    top: 33%;
    text-align: end;
}

#hamburger {
    display: none;
}

@media only screen and (max-width: 768px) {
    .App {
        display: block;
    }

    #navig-container {
        display: none;
    }

    #hamburger {
        display: block;
    }
}
